/*App.css*/
.App {
  color: black;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: white;
}

.error-message {
  color: red;
}

.movie-list {
  background-color: black;
  color: rgb(243, 8, 47);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  background-color: silver;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.movie-card img {
  background-color: aquamarine;
  color: brown;
  width: 100%;
  height: auto;
}

.movie-details {
  background-color: black;
  color: gold;
  text-align: center;
}

.movie-details img {
  background-color: black;
  color: brown;
  width: 200px;
  height: auto;
}

.notification-container {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 1000;
}

.notification {
  background-color: rgb(3, 3, 83);
  color: aqua;
  padding: 25px;
  margin: 15px;
  border-radius: 25px;
}
